@using Fishbowl.Net.Client.Shared.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.RoundFinished.Title"])">
            <div class="row">
                <div class="col">
                    <h4>@L["Components.States.RoundFinished.Scores"]</h4>
                    <ul class="list-group">
                        @foreach (var period in this.Round.Periods)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>@period.Player.Name</strong>
                                <span class="badge bg-primary rounded-pill">@period.Scores.Count</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </StateContainer>;
}