@inject IStringLocalizer<Resources> L

<StateContainer Title="@($"{this.Title} ({this.Step}/{this.TotalSteps})")">
    <div class="row mb-3">
        <div class="col">
            <h3>@this.Subtitle</h3>
        </div>
    </div>
    @this.ChildContent
</StateContainer>