@page "/play"
@using Fishbowl.Net.Client.Components
@using Fishbowl.Net.Client.Components.States

@inject NavigationManager NavigationManager

<h1>Play</h1>

<StateManager @ref="this.stateManager">
    <Connecting />
    <Password OnCreateGame="this.CreateGameContext" OnJoinGame="this.JoinGameContext" />
    <TeamCount OnTeamCountSet="this.SetTeamCount" />
    <RoundTypes OnRoundTypesSet="this.SetRoundTypes" />
    <PlayerName OnPlayerNameSet="this.SetPlayerName" />
    <PlayerWords OnPlayerWordsSet="this.SubmitPlayerData" />
    <WaitingForPlayers />
    <GameStarted />
    <RoundStarted />
    <PeriodSetupPlay OnStarted="this.StartPeriod" />
    <PeriodSetupWatch />
    <PeriodPlay OnScoreAdded="this.AddScore" OnPeriodFinished="this.FinishPeriod" />
    <PeriodWatch />
    <PeriodFinished />
    <RoundFinished />
    <GameFinished />
</StateManager>
