@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.Connecting.Title"])">
            <div class="position-fixed top-50 start-50 translate-middle">
                <Spinner />
            </div>
        </StateContainer>;
}