@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.Connecting.Title"])">
            <div class="row">
                <div class="col">
                    @L["Components.States.Connecting.Description"]
                </div>
            </div>
        </StateContainer>;
}