@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Connecting> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Connecting..."])">
            <div class="row">
                <div class="col">
                    @L["Waiting for server"]
                </div>
            </div>
        </StateContainer>;
}