@inherits State

@code
{
    protected override RenderFragment Content =>
        @<div class="h-100 container-fluid bg-danger">
            <div class="row h-100">
                <div class="col my-auto">
                    <h2 class="mb-5">Error!</h2>
                    @this.Message
                </div>
            </div>
        </div>;
}