@inherits State

@code
{
    protected override RenderFragment Content =>
        @<div>
            <h2>Game started</h2>

            <p>Your team:</p>
            <ul>
                @foreach (var player in this.Team.Players)
                {
                    <li>@player.Name</li>
                }
            </ul>
        </div>;
}