@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.GameFinished.Title"])">

            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        @foreach (var team in this.Game.Teams)
                        {
                            <li class="list-group-item">
                                @L["Components.States.GameFinished.Team"] @team.Name:
                                @(team.Players.Sum(player => player.Scores.Count))
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </StateContainer>;
}