@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.GameFinished.Title"])">

            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        @foreach (var teamResult in this.Game.GetTeamScores())
                        {
                            <li class="list-group-item">@L["Components.States.GameFinished.Team"] @teamResult.Key: @teamResult.Value</li>
                        }
                    </ul>
                </div>
            </div>
        </StateContainer>;
}