@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.GameStarted.Title"])">
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        @foreach (var player in this.Team.Players)
                        {
                            <li class="list-group-item">@player.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </StateContainer>;
}