@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Game results">

            <div class="row">
                <div class="col">
                    <h4>Team scores</h4>
                    <ul class="list-group">
                        @foreach (var teamResult in this.Game.GetTeamScores())
                        {
                            <li class="list-group-item">Team @teamResult.Key: @teamResult.Value</li>
                        }
                    </ul>
                </div>
            </div>
        </StateContainer>;
}