@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<div class="h-100 container-fluid @this.ContextClass">
            <div class="row h-100">
                <div class="col my-auto">
                    <h2 class="mb-5">@this.Title</h2>
                    
                    @this.Message

                    @if (this.Loading)
                    {
                        <div class="row">
                            <div class="col">
                                <Spinner />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>;
}