@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<div class="h-100 container-fluid bg-danger">
            <div class="row h-100">
                <div class="col my-auto">
                    <h2 class="mb-5">@L["Components.States.Info.Title"]</h2>
                    @this.Message
                </div>
            </div>
        </div>;
}