@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Set game password">
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating text-dark">
                        <input class="form-control" placeholder="Password" id="password-input" type="text" @bind="this.password" minlength="3" required>
                        <label for="password-input">Set game password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid col-6">
                    <button class="btn btn-warning btn-lg" type="button" @onclick="e => this.OnCreateGame.InvokeAsync(this.password)">Create</button>
                </div>
                <div class="d-grid col-6">
                    <button class="btn btn-success btn-lg" type="button" @onclick="e => this.OnJoinGame.InvokeAsync(this.password)">Join</button>
                </div>
            </div>
        </StateContainer>;
}