@inherits State

@code
{
    protected override RenderFragment Content =>
        @<div>
            <h2>Set game password</h2>

            <div>
                <input type="text" @bind="this.password" minlength="3" required>
            </div>

            <button type="button" @onclick="e => this.OnCreateGame.InvokeAsync(this.password)">Create</button>
            <button type="button" @onclick="e => this.OnJoinGame.InvokeAsync(this.password)">Join</button>
        </div>;
}