@inherits State

@code
{
    protected override RenderFragment Content =>
        @<div>
            <h2>Round: @this.Round.Type</h2>

            <p>Waiting for player @this.Period.Player.Name to start... with length @this.Period.Length()</p>
        </div>;
}