@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@this.Round.Type">
            <div class="row">
                <div class="col">
                    <h4>Waiting for player:</h4>
                    <p>@this.Period.Player.Name</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Period length</h4>
                    <p>@this.Period.Length()</p>
                </div>
            </div>
        </StateContainer>;
}