@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@this.Round.Type">
            <div class="row">
                <div class="col">
                    <h4>Start period by clicking button</h4>
                </div>
            </div>
            <div class="row">
                <div class="col d-grid">
                    <button class="btn btn-success btn-lg" type="button" @onclick="e => this.OnStarted.InvokeAsync(DateTimeOffset.UtcNow)">Start</button>
                </div>
            </div>
        </StateContainer>;
}