@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@this.Round.Type">

            <div class="row">
                <div class="col">
                    <h4>Playing</h4>
                    <p>@this.Period.Player.Name</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <Timer Start="this.StartedAt" Length="this.Period.Length()" />
                </div>
            </div>
        </StateContainer>;
}