@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Set player name">
            <form @onsubmit="e => this.OnPlayerNameSet.InvokeAsync(this.playerName)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input
                                type="text"
                                class="form-control"
                                id="name-input"
                                placeholder="Name"
                                @bind="this.playerName"
                                minlength="3"
                                required>
                            <label for="name-input">Player name</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-grid col">
                        <button class="btn btn-success btn-lg" type="submit">Set</button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}