@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.PlayerCount.Title"])">
            <form @onsubmit="e => this.OnPlayerCountSet.InvokeAsync(this.playerCount)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input
                                type="number"
                                class="form-control"
                                id="name-input"
                                placeholder="@(L["Components.States.PlayerCount.Title"])"
                                @bind="this.playerCount"
                                min="4"
                                required>
                            <label for="name-input">@L["Components.States.PlayerCount.Title"]</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-grid col">
                        <button class="btn btn-success btn-lg" type="submit">
                            @L["Components.States.PlayerCount.SubmitButton"]
                        </button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}