@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Round start">
            <div class="row">
                <div class="col">
                    Round type: <strong>@this.Round.Type</strong>
                </div>
            </div>
        </StateContainer>;
}