@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@($"{L["Components.States.RoundStarted.Title"]}:")">
            <div class="row">
                <div class="col">
                    <h4>@this.Round.Type</h4>
                </div>
            </div>
        </StateContainer>;
}