@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Set team count">
            <form @onsubmit="e => this.OnTeamCountSet.InvokeAsync(this.teamCount)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input class="form-control" id="team-count-input" placeholder="Team count" type="number" min="2" required @bind="this.teamCount">
                            <label for="word-count-input">Number of teams</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-grid col">
                        <button class="btn btn-success btn-lg" type="submit">Set</button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}