@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Waiting...">
            <div class="row">
                <div class="col">
                    Other players are still working...
                </div>
            </div>
        </StateContainer>;
}