@using Fishbowl.Net.Client.Components.Templates
@inherits State

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="Set word count per player">
            <form @onsubmit="e => this.OnWordCountSet.InvokeAsync(this.wordCount)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input class="form-control" id="word-count-input" placeholder="Word count" type="number" min="2" required @bind="this.wordCount">
                            <label for="word-count-input">Number of words per player</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-grid col">
                        <button class="btn btn-success btn-lg" type="submit">Set</button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}