@implements IAsyncDisposable
@inject IStringLocalizer<Resources> L

<div class="card timer @this.Classes">
    <div class="card-header">
        @L["Components.Timer.Remaining"]
    </div>
    <div class="card-body fs-3">
        @this.TimeFormat
    </div>
</div>
