@inherits State

@code
{
    public override RenderFragment Content =>
        @<div>
            <h2>Results</h2>

            <ul>
            @foreach (var teamResult in this.Game.GetTeamScores())
            {
                <li>Team @teamResult.Key: @teamResult.Value</li>
            }
            </ul>
        </div>;
}