<h2>Period finished</h2>

<p>@this.Period.Player.Name got <strong>@this.Period.Scores.Count</strong></p>

<p>Words guessed:</p>
<ul>
    @foreach (var score in this.Period.Scores)
    {
        <li>@score.Word.Value</li>
    }
</ul>