@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.WaitingForPlayers.Title"])">
            <div class="row">
                <div class="col">
                    @L["Components.States.WaitingForPlayers.Message"]
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <Spinner />
                </div>
            </div>
        </StateContainer>;
}