@code
{
    public RenderFragment Container =>
        @<div class="position-absolute top-50 start-50 translate-middle text-center fade-container @this.ShowClass">
            @this.Content
        </div>;
}