<div class="position-fixed bottom-0 start-50 translate-middle-x mb-1 pb-2">
    <div class="toast-container">
        @foreach (var toast in toasts)
        {
            <Toast Message="@toast.message" ContextClass="@toast.contextClass" AnimationFinished="@this.AnimationFinished" />
        }
    </div>
</div>